<footer class="site-footer">

  <a href="#" class="scroll-top"><span class="icon-arrow-up"></span></a>

  <div class="show-small-only">
    <nav class="social-navigation" role="navigation">
      <ul></ul>
    </nav>
  </div>

  <div class="show-small-only">
    {{> "widget-tag-cloud"}}
  </div>

  <div class="copyright">
    &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}. Proudly published with <a href="https://ghost.org">Ghost</a>
  </div>

</footer>
