{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="site-main error-template" role="main">

  <section class="site-error-message">
    <h1 class="site-error-code">{{code}}</h1>
    <h2 class="site-error-description">{{message}}</h2>
    <a class="site-error-link" href="{{@blog.url}}">Go to the front page →</a>
  </section>

  {{> widget-recent-posts}}

</main>
